// @import '../../node_modules/normalize.css/normalize';
// @import '../../node_modules/swiper/swiper-bundle';
// @import '../../node_modules/aos/dist/aos';
// @import '../scss/components/youtubes';
// @import 'components/tabs';

// @import 'components/popup';
@import "components/data";
